@import url("https://use.typekit.net/kpp5whf.css");

/*
pink: #FE0078
green: #89BE05
gray: #A5B5BA
white: #FFFFFF
 */

/* basic styles*/
@import url("css/_base.scss");
@import url("css/_text.scss");

/* generic block styles */
@import url("css/blocks/_category_items.scss");
@import url("css/blocks/_home_items.scss");
@import url("css/blocks/_new-content_items.scss");
@import url("css/blocks/_product_items.scss");
