@import url("https://use.typekit.net/kpp5whf.css");

/*
pink: #FE0078
green: #89BE05
gray: #A5B5BA
white: #FFFFFF
 */

/* basic styles*/
@import url("scss/base.scss");
@import url("scss/text.scss");

/* generic block styles */
@import url("scss/blocks/category_items.scss");
@import url("scss/blocks/home_items.scss");
@import url("scss/blocks/new-content_items.scss");
@import url("scss/blocks/product_items.scss");
