@import url("https://use.typekit.net/kpp5whf.css");

/*
pink: #FE0078
green: #89BE05
gray: #A5B5BA
white: #FFFFFF
 */

/* basic styles*/
@import url("css/base.css");
@import url("css/text.css");

/* generic block styles */
@import url("css/blocks/category_items.css");
@import url("css/blocks/home_items.css");
@import url("css/blocks/new-content_items.css");
@import url("css/blocks/product_items.css");
